html,
body{
    background-color: black;
}
#app {
    background-color: rgb(211, 211, 211);
    

}
.product{
   background-color: rgb(211, 211, 211);
   float: left;
   width: 100%;
   font-size: 15px;
   height: auto;
   color: black;
   font-family:'Open Sans', 'Helvetica Neue', sans-serif;
   display: block;
   padding: 10px;
}
.cart{
    background-color: rgb(211, 211, 211);
    width: 100%;
}
img{
    width: 35%;
    padding-right:30px;
}

.product-info{
    padding-left: 30%;
   text-align: left;
}

h1 {
    color:rgb(109, 0, 0);
    
}

.colorbox {
    display: inline-flex;
}
button#f-r {
    
    color: rgb(0, 0, 0);
    border-radius: 9%;
    padding: 5px;
    font-size: medium;
    
}

button#cart{
    background-color:rgb(109, 0, 0);
    color: white;
    border-radius: 5%;
    padding: 20px;
    font-size: medium;
    

}