html,

body {
    background-color:rgb(0, 0, 0);
}

#centro {
    width:60%;
    height:100%;
    margin-left: 20%;
    margin-right: 20%;
    display: flex;
    text-align: center;
    background-color: rgb(201, 201, 201);
    background-size: cover;
}

#funzioni{
    display:inline-block;
    margin: 20px;
    height:90%;
    width:25%;
    border-right:1px solid grey;
}

#funzioni button {
    color:white;
    background-color:rgb(150, 0, 0);
    padding:5px;
    border-radius: 5px;
    margin-top:20px;
    width:90%;
    cursor:pointer;
    font-size:1vw;
    font-weight:bold;
}

#funzioni button:hover{
    background-color:rgba(150, 0, 0, 0.555);
}

#image-utente {
    border-radius: 50%;
    height:200px;
    width:200px;
}

@media screen and (min-width:900px) {
    #image-utente {
        height:100px;
        width:100px;
    }
}

#gestione {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:30vw;
}


#gestione img{
    width:100px;
    height:100px;
}

#info p {
    font-weight:bold;
    font-size:1.1vw;
}

#info{
    box-shadow: 0 4px 4px 2px grey;
    text-align: left;
    padding:10px 0px 20px 30px;
    height: auto;
}
input[type="reset"], input[type="submit"]{
    color:white;
    background-color:rgb(100, 100, 100);
    padding:5px;
    border-radius: 5px;
    color:white;
    padding:5px;
    cursor:pointer;
    border-radius: 5px;
    width:45%;
    margin-left: 2px;
    font-size:1.1vw;
}

#info textarea{
    height:5vh;
    max-height:100px;
    width:18vw;
    max-width:20vw;
    overflow-y:scroll ;    
}

#change-password {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:30vw;
    display: none;
}


#change-password p {
    font-size:1.1vw;
    font-weight:bold;
}

#change-email {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:30vw;
    display: none;
}


#change-email p {
    font-weight:bold;
    font-size:1.1vw;
}

#change-username {
    margin-top:5%;
    margin-left:auto;
    margin-right:auto;
    position:relative;
    width:30vw;
    display: none;
}


#change-username p {
    font-size:1.1vw;
    font-weight:bold;
}

input[type="text"], input[type="data"] {
    width:15vw;
    height:3vh;
    
}

@media screen and (max-width:900px) { 
    #centro {
        width:100%;
        height:100%;
        margin-left: 0%;
        margin-right: 0%;
    }
    #change-username p, #change-email p, #change-password p, #info p{
        font-size:10px;
    }
    input[type="reset"], input[type="submit"]{
        font-size: 10px;
    }
    #funzioni button {
        font-size: 10px;
    }
    input[type="text"], input[type="data"] {
        width:100px;
        height:20px;   
    }
    #gestione {
        margin-top:5%;
        margin-left:auto;
        margin-right:auto;
        position:relative;
        width:50vw;
    }
}