.cart-centro {
    background-color: rgb(204, 204, 204);
    padding-bottom: 8%;
    
}

.titolo {
    width: 80%;
    text-align: center;
    margin:auto;
    padding:3%
}

.t1 {
    font-size: 30px;
    float:left;
    font-weight: bold;

}

#t2 {
    float:right;
    background-color: darkred;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    padding:5px;
}


.cart-product {
    width: 100%;
    padding-top: 1%;
    margin: auto;
    
    
}

.name {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #350000;
  
    font-size: 25px;
    display: inline-flex;
}

.bottoni {
    text-align: center;
}

.prezzo {
    font-weight: bold;
    text-align: right;
}

.quantity {
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #020202;
    
    font-size: 15px;
}

table {
    border: 1px solid black;
    width: 80%;
    margin:auto;
    border-radius: 10px 10px 10px 10px;
    
    
}

.l-totale{
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    color: #020202;
    font-size: 15px;
}

td {
    
    padding:20px;
    

}

#int{
    
    font-size: 20px;
    text-align: center;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;

}

.prezzo {
    text-align: center;
}

.minus,.plus {
    background-color:darkred;
    border:0;
    border-radius: 2%;
    color: white;
}

.minus:hover,.plus:hover {
    opacity: 0.2;
}

.Registrazione {
    border: 1px solid #949494;
  background-color: #8a8a8a;
  color: #ffffff;
  padding: 10px 20px 10px;
  border-radius: 5%;
  float: right;
  margin-top: 2%;
  margin-right: 5%;
  cursor: pointer;
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
}

a.back{
    text-decoration: none;
    margin:2%;
    color: black;
    margin-top: 20px;

}

a.back:hover{
    opacity:0.2;
}