html,

body {
    background-color:black;
}


/* Parte centrale */

/*.box-btn1 {
    height:500px;
    text-align: center;
    padding-right: 100px;
}*/


#mappaItalia {
    background-color: rgb(48, 48, 48);
    opacity:1;
	width: 100%-100px;
	height: 100%;
	position: relative;
	padding-top: 80px;
    padding-bottom: 180px;
	visibility: visible;
    display: block;
    padding-left: 2%;
}

#titolo {
    display: block;
    margin-left:33%;
}

#titolo h1 {
    color: rgb(0, 207, 69); 
    padding-bottom:50px; 
    font-style: italic;
    text-shadow: 5px 5px 5px black;
}
#cartaGeo {
    margin-left : 10%;
}

@media screen and (max-width: 450px){
    #mappaItalia {
        padding-left:0%;
    }
}



#abbruzzo, #basilicata, #calabria, #campania, #emilia, #friuli, #lazio, 
#liguria, #lombardia, #marche, #molise, #piemonte, #puglia, #sardegna, 
#sicilia, #toscana, #trentino, #umbria, #valdaosta, #veneto {
	position: absolute;
	z-index: 2;
	left: 37%;
	top: 100px;
	width: 55%;
	height: auto;
	visibility: hidden;
    display: inline-block;
    border: solid rgb(255, 255, 255);
    color: white;
    margin-left:5% ;
    opacity: 0;
    /*transition: opacity 1s ease;*/
}

.area_sx {
    width: 60%;
}

.fiumi_e_laghi {
    width:auto; 
    height:200px;
    padding-left: 20px;
    max-width: 60%;
}
.pesce {
    width:90%; 
    height:200px;
    padding-left: 5%;
}
h2,h3,p {
    padding-left: 20px;
    text-shadow: 2px 2px 4px black;
}
p {
    font-style: italic;
}
.laghi, .fiumi {
    display: inline-flex;
    width: 100%;
}
.laghi {
    padding-bottom: 20px;
}
.specie {
    position: absolute;
    left: 60%;
    margin-left:5%;
    top: 5%;
    height: 90%;
    width: 34%;
    border-left: solid rgb(255, 255, 255);
}
.specie h3 {
    padding-top: 20px;
}
.specie p {
    display: inline-block;
}
/*.sx {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 55%;
    width: 160px;
}
.dx {
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 25%;
    width:160px;
}*/




